fastapi
uvicorn
python-multipart
sqlalchemy
python-dotenv
pydantic
pytesseract
Pillow
pdf2image
spacy
scikit-fuzzy
numpy
langchain
langchain-community
langchain-ollama
shap
scikit-learn
streamlit
pytest
httpx